*{
    margin: 0;
    padding: 0;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
}
.grid{
    width: 440px;
    height: 440px;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    border: 3px solid black;
    margin: 0 auto;
}

.cell{
    width: 40px;
    border: 1px solid black;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    margin: 1px;
}

.cell:hover{
    cursor:crosshair;
}

.ship{
    background-color: red;
    color: red;
}

.hit-ship{
    background-color: green;
}

.not-hit{
    background-color: gray;
}

.hit-ship:hover, .not-hit:hover{
    cursor: not-allowed;
}
